$primary-300 : #009da040;
$primary-500 : #009999;
$primary-text-color : #ffffff;

$error-300 : #d93c5140;
$error-500 : red;

$border-color : #ced4da;

$collapsed-sidebar : 70px;
$expanded-sidebar : 250px;


$header-height : 60px;

$transition : .3s cubic-bezier(0, 0, .2, 1);

$small-screen : 767px